.headerWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}
.headerTitle {
    color: white;
    font-size: 32px;
    font-weight: 900;
}
.headerTel {
    color: white;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
}
.headerTelIcon {
    background-color: white;
    height: 39px;
    width: 35px;
    position: relative;
    top: 10px;
    margin-right: 10px;
}