.wrapperContainer {
    background: #0A101A;
}
.wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: end;
}
.title {
    font-weight: 900;
    font-size: 64px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-right: 150px;
    border-radius: 40px;
}
.ourPlus {
    font-weight: 900;
    font-size: 64px;
    color: white;
    padding-right: 100px;
    border-right: 1px solid white;
}
.ourDescription {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.ourWrapper {
    display: flex;
    width: 1400px;
    margin: 90px auto 150px auto;
}
.mail {
    color: white;
    text-decoration: none;
    text-align: center;
}
.icon {
    width: 50px;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top:10px
}
.footer {
    display: flex;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
    justify-content: space-around;
}
.tel {
    display: flex;
    position: relative;
    top:15px
}
.iconTel {
    margin-right: 30px;
    width: 40px;
    height: 40px;
}
