.sliderWrapper {
    width: 30vw;
    margin-top: 30% ;
    margin-right: 100px;
}
.slide {
    width: 400px;
    height: 100px;
}
.slide1 {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}
.slide2 {
    width: 400px;
    height: 110px;
}
.slide3 {
     width: 400px;
    height: 100px;
 }

